@charset "UTF-8";
/** variable mixins mapas = utilities **/
/** es la carpeta base **/
.bodyClass {
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E384FF;
  font-weight: bold; }

h1 {
  font-size: 20px; }

.card {
  width: 18.75rem;
  height: 25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 1px 1px .625rem black;
  background-color: #191825;
  position: relative;
  z-index: 1; }
  .card div {
    width: 100%;
    height: 18.5rem; }
    .card div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card h2 {
    text-align: center;
    color: #865DFF; }
  .card p {
    text-align: center;
    color: #865DFF; }

.headerPrincipal {
  background-color: #191825; }
  .headerPrincipal .navbar div div .mainHuno {
    text-align: center;
    font-size: 30px;
    color: #E384FF;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-weight: bold; }
  .headerPrincipal .navbar div div ul li a {
    text-decoration: none;
    color: #E384FF;
    font-size: 1.25rem;
    padding: 0%; }

.espacioBlanco {
  background-color: #865DFF;
  width: 100%;
  height: 50px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .espacioBlanco .classOferta {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px; }

.fondoProductos {
  background-image: url("../assets/images/7.jpeg");
  background-size: cover;
  background-position: 100%; }
  .fondoProductos .cardContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    background-image: url("../assets/images/7.jpeg");
    align-items: center;
    gap: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around; }
    .fondoProductos .cardContainer .card {
      width: 18.75rem;
      height: 25rem;
      border-radius: 1.25rem;
      overflow: hidden;
      box-shadow: 1px 1px .625rem black;
      background-color: #191825;
      position: relative;
      z-index: 1; }
      .fondoProductos .cardContainer .card div {
        width: 100%;
        height: 18.5rem; }
        .fondoProductos .cardContainer .card div img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .fondoProductos .cardContainer .card h2 {
        text-align: center;
        color: #865DFF; }
      .fondoProductos .cardContainer .card p {
        text-align: center;
        color: #865DFF; }

.sectionNosotros ul {
  background-color: #865DFF;
  font-size: 20px;
  text-align: center;
  list-style: none;
  width: 100% padding 0; }

.sectionNosotros h2 {
  text-align: center; }

.sectionNosotros .encontranos {
  text-align: center; }
  .sectionNosotros .encontranos iframe {
    width: 80%;
    height: 40vh; }

.dobleHuno {
  font-size: 50px;
  color: #191825;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  text-align: center;
  justify-content: center; }

.mainTamaño {
  height: auto; }
  .mainTamaño .sectionPrincipal h1 {
    text-align: center; }
  .mainTamaño .sectionPrincipal .divProducto {
    background-color: #865DFF;
    height: 50px;
    padding-top: 10px; }
    .mainTamaño .sectionPrincipal .divProducto h1 {
      justify-content: center;
      text-align: center;
      height: 40px;
      font-size: 30px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    background-image: url("../assets/images/7.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 900px;
    background-repeat: no-repeat; }
    .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: auto;
      align-items: center;
      gap: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 20px; }
      .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers .card {
        width: 18.75rem;
        height: 25rem;
        border-radius: 1.25rem;
        overflow: hidden;
        box-shadow: 1px 1px .625rem black;
        background-color: #191825;
        position: relative;
        z-index: 1; }

.espacioBlancos {
  background-color: #865DFF;
  width: 100%;
  height: 200px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .espacioBlancos .classOferta {
    text-align: center;
    font-size: 25px; }
  .espacioBlancos .carritoP {
    padding: 20px; }

.classCarrito {
  text-align: center;
  height: 300px; }

.espacioBlanco {
  background-color: #865DFF;
  width: 100%;
  height: 50px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .espacioBlanco h1 {
    text-align: center;
    justify-content: center;
    align-items: center; }

.sectionContacto {
  text-align: center;
  color: #E384FF;
  height: 200px;
  width: 100%; }
  .sectionContacto .formContacto {
    text-align: left;
    align-items: center;
    display: inline-block; }
    .sectionContacto .formContacto label {
      color: #191825; }
    .sectionContacto .formContacto input {
      color: #191825; }
    .sectionContacto .formContacto .emailInput {
      align-items: center;
      text-align: center;
      height: 20px;
      display: block; }
    .sectionContacto .formContacto .mensajeInput {
      align-items: center;
      text-align: center;
      display: block;
      height: 100px; }
    .sectionContacto .formContacto .btnSubmit {
      display: block;
      margin: 0 auto; }

.mainTamaño .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image1 image2" "image3 image4";
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px; }
  .mainTamaño .grid-container .image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    object-fit: contain; }

.image1 {
  grid-area: image1; }

.image2 {
  grid-area: image2; }

.image3 {
  grid-area: image3; }

.image4 {
  grid-area: image4; }

footer {
  background-color: #191825; }
  footer .divFooter {
    width: 100%;
    height: 20rem; }
    footer .divFooter .contactanos {
      text-align: center;
      color: #E384FF;
      text-decoration: none;
      justify-content: center; }
      footer .divFooter .contactanos a {
        text-align: center;
        justify-content: center;
        text-decoration: none;
        color: #E384FF; }

@media (max-width: 1000px) {
  .fondoProductos {
    height: 900px; }
    .fondoProductos .cardContainer {
      gap: .9375rem;
      height: 900px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    height: 1350px; } }

@media (max-width: 768px) {
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    height: 1500px; }
    .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
      display: flex;
      gap: 15px;
      height: 1500px; }
  .mainTamaño .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "image1" "image2" "image3" "image4"; }
    .mainTamaño .grid-container .image .image1, .mainTamaño .grid-container .image .image2, .mainTamaño .grid-container .image .image3, .mainTamaño .grid-container .image .image4 {
      margin-bottom: 20px; } }

@media (max-width: 615px) {
  .fondoProductos {
    height: 1000px; }
    .fondoProductos .cardContainer {
      height: 1000px; }
      .fondoProductos .cardContainer .card {
        width: 250px;
        height: 300px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers .card {
    width: 250px;
    height: 300px; } }

@media (max-width: 520px) {
  .mainTamaño .sectionPrincipal {
    height: auto; }
    .mainTamaño .sectionPrincipal .fondoDeproductos {
      height: 2100px; }
      .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
        height: 2100px; }
  .sectionNosotros .encontranos iframe {
    height: 300px; } }

@media (max-width: 390px) {
  .fondoProductos {
    height: 1000px; }
    .fondoProductos .cardContainer {
      height: 1000px; }
  .headerPrincipal .navbar div div .mainHuno {
    font-size: 20px; }
  .icono {
    align-items: center;
    justify-content: center; }
  iframe {
    height: 200px; } }
