@charset "UTF-8";
/** variable mixins mapas = utilities **/
/** es la carpeta base **/
.bodyClass {
  font-family: 'Merriweather', serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E384FF;
  font-weight: bold; }

h1 {
  font-size: 20px; }

.card {
  width: 18.75rem;
  height: 25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 1px 1px .625rem black;
  background-color: #191825;
  position: relative;
  z-index: 1; }
  .card div {
    width: 100%;
    height: 18.5rem; }
    .card div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card h2 {
    text-align: center;
    color: #865DFF; }
  .card p {
    text-align: center;
    color: #865DFF; }

.headerPrincipal {
  background-color: #191825; }
  .headerPrincipal .navbar div div .mainHuno {
    text-align: center;
    font-size: 30px;
    color: #E384FF;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-weight: bold; }
  .headerPrincipal .navbar div div ul li a {
    text-decoration: none;
    color: #E384FF;
    font-size: 20px;
    padding: 0%;
    text-align: center; }

.espacioBlanco {
  background-color: #865DFF;
  width: 100%;
  height: 50px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px .625rem black; }
  .espacioBlanco .classOferta {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px; }

.fondoProductos {
  background-image: url("../assets/images/7.jpeg");
  background-size: cover;
  background-position: 100%; }
  .fondoProductos .cardContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    background-image: url("../assets/images/7.jpeg");
    align-items: center;
    gap: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around; }
    .fondoProductos .cardContainer .card {
      width: 18.75rem;
      height: 25rem;
      border-radius: 1.25rem;
      overflow: hidden;
      box-shadow: 1px 1px .625rem black;
      background-color: #191825;
      position: relative;
      z-index: 1; }
      .fondoProductos .cardContainer .card div {
        width: 100%;
        height: 18.5rem; }
        .fondoProductos .cardContainer .card div img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .fondoProductos .cardContainer .card h2 {
        text-align: center;
        color: #865DFF; }
      .fondoProductos .cardContainer .card p {
        text-align: center;
        color: #865DFF; }

.carousel {
  box-shadow: 1px 1px .625rem black; }

.sectionNosotros h2 {
  padding-bottom: 30px;
  margin: 10px;
  text-align: center;
  height: 50px; }

.sectionNosotros .grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px;
  border: 1px solid #191825;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #191825;
  box-shadow: 1px 1px .625rem black; }
  .sectionNosotros .grid-container .grid-header, .sectionNosotros .grid-container .grid-item {
    text-align: center;
    padding: 10px;
    background-color: #865DFF;
    border: 1px solid #191825; }
  .sectionNosotros .grid-container .grid-header {
    font-weight: bold; }

.sectionNosotros ul {
  background-color: #865DFF;
  font-size: 20px;
  text-align: center;
  list-style: none;
  width: 100% padding 0;
  box-shadow: 1px 1px .625rem black; }

.sectionNosotros h2 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; }

.sectionNosotros .encontranos {
  text-align: center; }
  .sectionNosotros .encontranos p {
    font-size: 20px;
    margin-top: 10px; }
  .sectionNosotros .encontranos iframe {
    width: 80%;
    height: 40vh;
    margin-bottom: 40px;
    margin-top: 10px; }

.divComprar {
  background-image: url("../assets/images/7.jpeg");
  background-size: cover;
  background-position: 100%;
  height: 1500px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 25px; }
  .divComprar .cardCompra {
    background-color: #191825;
    margin-top: 30px;
    height: 550px;
    box-shadow: 1px 1px .625rem black;
    margin-bottom: 50px; }
    .divComprar .cardCompra ul {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none; }
      .divComprar .cardCompra ul li h3, .divComprar .cardCompra ul li h2, .divComprar .cardCompra ul li p {
        text-align: center;
        color: #E384FF; }
      .divComprar .cardCompra ul li h3 {
        padding-top: 50px; }
      .divComprar .cardCompra ul li .cardProducto {
        height: 450px;
        border-radius: 1.25rem;
        box-shadow: 1px 1px .625rem #E384FF;
        background-color: #191825;
        position: relative;
        z-index: 1;
        margin-top: 40px; }
        .divComprar .cardCompra ul li .cardProducto div h5, .divComprar .cardCompra ul li .cardProducto div p, .divComprar .cardCompra ul li .cardProducto div a {
          color: #E384FF; }
      .divComprar .cardCompra ul .tituloP {
        margin-bottom: 300px;
        z-index: 1; }
      .divComprar .cardCompra ul .botonesProduct {
        z-index: 0;
        margin-top: 450px; }
        .divComprar .cardCompra ul .botonesProduct .btn-group button a {
          text-decoration: none;
          color: #E384FF; }
        .divComprar .cardCompra ul .botonesProduct .btn-group .btn-primary {
          background-color: #191825;
          color: #E384FF; }
        .divComprar .cardCompra ul .botonesProduct .btn-group .btn {
          border-color: #E384FF; }
  .divComprar .cardBasado {
    background-color: #191825;
    margin-top: 30px;
    height: 550px;
    box-shadow: 1px 1px .625rem black;
    margin-bottom: 30px; }
    .divComprar .cardBasado h2 {
      color: #E384FF;
      text-align: center;
      padding-top: 15px; }
    .divComprar .cardBasado .cardRecomendado {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: 300px;
      align-items: center;
      gap: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      flex-wrap: wrap;
      justify-content: space-around; }

.mainTamaño {
  height: auto; }
  .mainTamaño .sectionPrincipal h1 {
    text-align: center; }
  .mainTamaño .sectionPrincipal .divProducto {
    background-color: #865DFF;
    height: 50px;
    padding-top: 10px; }
    .mainTamaño .sectionPrincipal .divProducto h1 {
      justify-content: center;
      text-align: center;
      height: 40px;
      font-size: 30px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    background-image: url("../assets/images/7.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 900px;
    background-repeat: no-repeat; }
    .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: auto;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-top: 20px; }
      .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers .card {
        width: 18.75rem;
        height: 25rem;
        border-radius: 1.25rem;
        overflow: hidden;
        box-shadow: 1px 1px .625rem black;
        background-color: #191825;
        position: relative;
        z-index: 1; }

.espacioBlancos {
  background-color: #865DFF;
  width: 100%;
  height: 200px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .espacioBlancos .classOferta {
    text-align: center;
    font-size: 25px; }
  .espacioBlancos .carritoP {
    padding: 20px; }

.classCarrito {
  text-align: center;
  height: 300px; }

.form-container {
  background-color: #E384FF;
  padding: 20px;
  box-shadow: 1 1 10px rgba(0, 0, 0, 0.1);
  height: 250px; }
  .form-container form {
    display: flex;
    flex-direction: column; }
    .form-container form .form-group {
      margin-bottom: 20px; }
      .form-container form .form-group label {
        font-weight: bold;
        margin-bottom: 8px;
        color: #191825; }
      .form-container form .form-group input {
        padding: 10px;
        border: 1px solid #191825;
        border-radius: 4px; }
      .form-container form .form-group button {
        padding: 10px;
        background-color: #191825;
        color: #FFF;
        border: none;
        border-radius: 4px;
        text-align: center;
        cursor: pointer; }
        .form-container form .form-group button:hover {
          background-color: #865DFF; }

.preguntasFrecu {
  background-color: #865DFF;
  padding-bottom: 10px;
  box-shadow: 1px 1px .625rem black; }
  .preguntasFrecu h2 {
    color: #191825;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding-top: 10px;
    background-color: #865DFF; }
  .preguntasFrecu div {
    color: #191825;
    background-color: #E384FF; }
    .preguntasFrecu div div {
      color: #191825;
      background-color: #E384FF;
      border: none; }
      .preguntasFrecu div div h2 .accordion-button {
        border-color: none; }
      .preguntasFrecu div div h2 .accordion-button:not(.collapsed) {
        color: #E384FF;
        background-color: #191825;
        border-color: #191825;
        z-index: 0; }
      .preguntasFrecu div div h2 .accordion-button:focus {
        border-color: #191825;
        color: #E384FF;
        box-shadow: none; }
      .preguntasFrecu div div h2 .accordion-button:not(.collapsed)::after {
        color: #E384FF; }
      .preguntasFrecu div div h2 button {
        background-color: #191825;
        color: #E384FF;
        border: 1px solid #191825; }
      .preguntasFrecu div div div .accordion-body {
        border: .0625rem solid #191825; }

.espacioBlanco {
  background-color: #865DFF;
  width: 100%;
  height: 50px;
  background-position: 40% 30%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  align-items: center; }
  .espacioBlanco h1 {
    text-align: center;
    justify-content: center;
    align-items: center; }

.sectionContacto {
  text-align: center;
  color: #E384FF;
  height: 500px;
  width: 100%;
  padding-top: 20px;
  justify-content: center;
  align-items: center; }
  .sectionContacto div {
    color: #191825; }
    .sectionContacto div input, .sectionContacto div span {
      color: #191825; }
  .sectionContacto .formContacto {
    text-align: left;
    align-items: center;
    display: inline-block;
    height: 200px;
    padding-top: 30px; }
    .sectionContacto .formContacto label {
      color: #191825; }
    .sectionContacto .formContacto input {
      color: #191825; }
    .sectionContacto .formContacto .emailInput {
      align-items: center;
      text-align: center;
      height: 20px;
      display: block; }
    .sectionContacto .formContacto .mensajeInput {
      align-items: center;
      text-align: center;
      display: block;
      height: 100px; }
    .sectionContacto .formContacto .btnSubmit {
      display: block;
      margin: 0 auto; }

.mainTamaño .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image1 image2" "image3 image4";
  grid-gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px; }
  .mainTamaño .grid-container .image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    object-fit: cover; }

.image1 {
  grid-area: image1; }

.image2 {
  grid-area: image2; }

.image3 {
  grid-area: image3; }

.image4 {
  grid-area: image4; }

.error {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .error h1 {
    font-size: 30px; }
  .error p {
    font-size: 20px; }
  .error img {
    justify-content: center;
    align-items: center;
    width: 80%; }

.divError {
  background-color: #865DFF; }
  .divError h2 {
    text-align: center;
    padding-top: 10px; }
  .divError .cardsError {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 500px;
    align-items: center;
    gap: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-around; }

footer {
  background-color: #191825;
  box-shadow: 2px 1px .625rem black; }
  footer .divFooter {
    width: 100%;
    height: 20rem; }
    footer .divFooter .contactanos {
      padding-top: 20px;
      text-align: center;
      color: #865DFF;
      text-decoration: none;
      justify-content: center; }
      footer .divFooter .contactanos a {
        text-align: center;
        justify-content: center;
        text-decoration: none;
        color: #E384FF; }
    footer .divFooter .redes {
      text-align: right;
      list-style-type: none;
      margin-bottom: 15px;
      height: 50px; }
      footer .divFooter .redes a {
        text-align: center;
        color: #E384FF;
        margin-right: 20px;
        padding: 9px;
        text-decoration: none;
        border: 1px solid #E384FF;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        padding-bottom: 12px;
        border-radius: 8px; }
        footer .divFooter .redes a img {
          padding-right: 5px; }
    footer .divFooter .copyRight {
      text-align: center; }

@media (max-width: 1388px) {
  .divProducto .cardCompra {
    height: 650px; }
    .divProducto .cardCompra ul .botonesProduct {
      margin-top: 0px; } }

@media (max-width: 1089px) {
  .divProducto {
    height: 2000px; }
    .divProducto .cardCompra {
      height: 1200px; }
      .divProducto .cardCompra ul .cardLi {
        justify-content: left; } }

@media (max-width: 1000px) {
  .fondoProductos {
    height: 900px; }
    .fondoProductos .cardContainer {
      gap: .9375rem;
      height: 900px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    height: 1350px; } }

@media (max-width: 836px) {
  .sectionNosotros .grid-container {
    width: 100%; }
    .sectionNosotros .grid-container .grid-header, .sectionNosotros .grid-container .grid-item {
      font-size: 12px;
      padding: 5px; }
  .divFooter .contactanos {
    font-size: 20px; } }

@media (max-width: 768px) {
  .mainTamaño .sectionPrincipal .fondoDeproductos {
    height: 1500px; }
    .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
      display: flex;
      gap: 15px;
      height: 1500px; }
  .mainTamaño .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "image1" "image2" "image3" "image4"; }
    .mainTamaño .grid-container .image .image1, .mainTamaño .grid-container .image .image2, .mainTamaño .grid-container .image .image3, .mainTamaño .grid-container .image .image4 {
      margin-bottom: 20px; } }

@media (max-width: 615px) {
  .fondoProductos {
    height: 1000px; }
    .fondoProductos .cardContainer {
      height: 1000px; }
      .fondoProductos .cardContainer .card {
        width: 250px;
        height: 300px; }
  .divProducto {
    height: 2000px; }
    .divProducto .cardCompra {
      height: 800px; }
      .divProducto .cardCompra ul .tituloP {
        margin-bottom: 100px; }
      .divProducto .cardCompra ul .cardLi .cardProducto {
        height: 300px; }
        .divProducto .cardCompra ul .cardLi .cardProducto div {
          display: none; }
    .divProducto .cardBasado {
      height: 800px; }
      .divProducto .cardBasado .cardRecomendado {
        flex-direction: column;
        height: 700px; }
        .divProducto .cardBasado .cardRecomendado .card {
          width: 250px;
          height: 300px; }
  .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers .card {
    width: 250px;
    height: 340px; }
  .divError {
    height: 1000px; }
    .divError .cardsError {
      justify-content: center;
      align-items: center;
      height: auto; }
  .divFooter .contactanos {
    font-size: 13px; } }

@media (max-width: 520px) {
  .mainTamaño .sectionPrincipal {
    height: auto; }
    .mainTamaño .sectionPrincipal .fondoDeproductos {
      height: 2240px; }
      .mainTamaño .sectionPrincipal .fondoDeproductos .cardContainers {
        height: 2240px; }
  .divError {
    height: 1000px; }
  .sectionNosotros .encontranos iframe {
    height: 300px; }
  footer .divFooter .redes {
    font-size: 13px; }
    footer .divFooter .redes a {
      padding: 7px;
      padding-bottom: 10px; }
      footer .divFooter .redes a img {
        width: 25px;
        height: 20px; }
  footer .divFooter .copyRight {
    font-size: 13px;
    margin-top: 20px; }
  .sectionNosotros .grid-container {
    width: 100%; }
    .sectionNosotros .grid-container .grid-header, .sectionNosotros .grid-container .grid-item {
      font-size: 8px;
      padding: 2px;
      border: 0.4px solid #191825; } }

@media (max-width: 390px) {
  .espacioBlanco .classOferta {
    font-size: 25px; }
  .fondoProductos {
    height: 1000px; }
    .fondoProductos .cardContainer {
      height: 1000px; }
  .headerPrincipal .navbar div div .mainHuno {
    font-size: 20px; }
  .icono {
    align-items: center;
    justify-content: center; }
  iframe {
    height: 200px; }
  .divFooter .contactanos {
    padding: 5px; }
  .divFooter .redes {
    padding: 5px; }
  .espacioBlanco h1 {
    font-size: 20px; } }
