.errorDiv{
    height: 700px;
    .error{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: map-get($colores, oscuro);
        margin-top: 100px;
        box-shadow: 1px 1px .625rem black;
        ul {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-around; 
            list-style: none;
            padding: 0px;
            li{
                h1{
                    font-size: 30px;
                    color: map-get($colores, rosa);
                }
                p{
                    font-size: 20px;
                    color: map-get($colores, rosa);
                }
                img{
                    background-color: map-get($colores, oscuro);
                    justify-content: center;
                    align-items: center ;
                    width: 100%;
                    box-shadow: 1px 1px .625rem black;
                }
                button{
                    background-color: map-get($colores, rosa);
                    border-color: map-get($colores, rosa);
                    box-shadow: 1px 1px .625rem black;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}
