footer {
    background-color:#191825;
    .divFooter {
        width: 100%;
        height: 20rem;
        .contactanos {
            text-align: center;
            color: #E384FF;
            text-decoration: none;
            justify-content: center;
            a{ 
                text-align: center;
                justify-content: center;
                text-decoration: none;
                color: #E384FF;
            }
        }
    }
}