footer {
    background-color:#191825;
    box-shadow: 2px 1px .625rem black;
    .divFooter {
        width: 100%;
        height: 20rem;
        .contactanos {
            padding-top: 20px;
            text-align: center;
            color: #865DFF;
            text-decoration: none;
            justify-content: center;
            a{ 
                text-align: center;
                justify-content: center;
                text-decoration: none;
                color: #865DFF;
                &:hover{
                    color: #E384FF;
                }
            }
        }
        .redes {
            text-align: right;
            list-style-type: none;
            margin-bottom: 15px;
            height: 50px;
            a{
                text-align: center;
                color: #E384FF;
                margin-right: 20px;
                padding: 9px;
                text-decoration: none;
                border: 1px solid #E384FF;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                padding-bottom: 12px;   
                border-radius: 8px;             
                img{
                    padding-right:5px ;
                }
            }
            &:hover{
                .shadow-pop-tr {
                    -webkit-animation:  shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both ;
                            animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both ;
                }
            }
        }
        .copyRight {
            text-align: center; 
        }
    }
}