.headerPrincipal {
    background-color: map-get($colores, oscuro); 
    .navbar {
        div{
            button{
                background-color: map-get($colores, oscuro);
                span{
                    background-color: map-get($colores, rosa);
                }
            }
            div {
                .mainHuno{
                    text-align: center;
                    font-size: 30px;
                    color: map-get($colores, rosa);
                    font-family:'Merriweather', serif;
                    text-decoration: none;
                    font-weight:bold;
                }
            }
            div{
                ul {
                    li{
                        a{
                            text-decoration: none;
                            color:map-get($colores, rosa);
                            font-size: 20px;
                            padding: 0%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
