.espacioBlanco{
    background-color: #865DFF ;
    width: 100%;
    height: 50px;
    background-position: 40% 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.sectionContacto{
    .formContacto {
        label{
            color: #191825;
        }
        input{
            color: #191825;
        }
        .emailInput{
            align-items: center;
            text-align: center;
            height: 20px;
            display: block;
        }
        .mensajeInput {
            align-items: center;
            text-align: center;
            display: block;
            height: 100px;
        }
        .btnSubmit{
            display: block;
            margin: 0 auto;
        }
    }
}