.divComprar{
    background-image: url("../assets/images/7.jpeg");
    background-size: cover;
    background-position: 100%;
    height: 1300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    .cardCompra{
        background-color: map-get($colores, oscuro);
        margin-top: 30px;
        height: 550px;
        box-shadow: 1px 1px .625rem black;
        margin-bottom: 50px;
        ul{
            @include flex(row,wrap,space-around,center,30px);
            width: 100%;
            list-style: none;
            padding-left: 0px;
            li{
                h3, h2, p{
                    text-align: center;
                    color: map-get($colores, rosa);
                }
                h3{
                    padding-top: 50px;
                }
                .cardProducto{
                    height: 300px;
                    border-radius: 1.25rem;
                    box-shadow: 1px 1px .625rem map-get($colores, rosa);
                    background-color: map-get($colores, oscuro);
                    position: relative;
                    z-index: 1;
                    margin-top: 40px;
                    div{
                        h5, p, a{
                            color: map-get($colores, rosa);
                        }
                    }
                }
            }
            .tituloP{
                margin-bottom: 300px;
                z-index: 1;
            }
            .botonesProduct{
                z-index: 0;
                margin-top: 450px;
                .btn-group{
                    button{
                        a{
                            text-decoration: none;
                            color: map-get($colores, rosa);
                        }
                    }
                    .btn-primary {
                        background-color: map-get($colores, oscuro);
                        color: map-get($colores, rosa);
                    }
                    .btn{
                        border-color: map-get($colores, rosa);
                    }
                }
            }
        }
    }
    .cardBasado{
        background-color: map-get($colores, oscuro);
        margin-top: 30px;
        height: 550px;
        box-shadow: 1px 1px .625rem black;
        margin-bottom: 30px;
        h2{
            color: map-get($colores, rosa);
            text-align: center;
            padding-top: 15px;
        }
        .cardRecomendado{
            @include flex(row,wrap,space-around,center,10px);
            width: 100%;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}