.form-container {
    background-color: map-get($colores, rosa);
    padding: 20px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.1);
    height: 250px;
    z-index: 1;
    form{
        display: flex;
        flex-direction: column;
        .form-group{
            margin-bottom: 20px;
            label{
                font-weight: bold;
                margin-bottom: 8px;
                color: map-get($colores, oscuro);
            }
            input{
                padding: 10px;
                border: 1px solid map-get($colores, oscuro);
                border-radius: 4px;
            }
            button {
                padding: 10px;
                background-color: map-get($colores, oscuro);
                color: #FFF;
                border: none;
                border-radius: 4px;
                text-align: center;
                cursor: pointer;
                &:hover{
                    background-color: map-get($colores, purpura);
                }
            }
        }
    }
}
.preguntasFrecu{
    background-color: map-get($colores, purpura);
    padding-bottom: 10px;
    box-shadow: 1px 1px .625rem black;
    h2{
        color: map-get($colores, oscuro);
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        padding-top: 10px;
        background-color: map-get($colores, purpura);
    }
    .divPreguntas{
        color: map-get($colores, oscuro);
        background-color: map-get($colores, rosa);
        div{   
            @extend .divPreguntas;
            border: none;
            h2{
                .accordion-button{
                    border-color: none;
                }
                .accordion-button:not(.collapsed){
                    color: map-get($colores, rosa);
                    background-color: map-get($colores, oscuro);
                    border-color: map-get($colores, oscuro);
                    z-index: 0;
                }
                .accordion-button:focus{
                    border-color: map-get($colores, oscuro);
                    color: map-get($colores, rosa);
                    box-shadow: none;
                }
                .accordion-button:not(.collapsed)::after {
                    color: map-get($colores, rosa);
                }
                button{
                    background-color: map-get($colores, oscuro);
                    color: map-get($colores, rosa);
                    border: 1px solid map-get($colores, oscuro);
                }
            }
            div{
                .accordion-body{
                    border: .0625rem solid map-get($colores, oscuro);
                }
            }
        }
    }
}
.espacioBlanco{
    background-color: map-get($colores, purpura);
    width: 100%;
    height: 50px;
    background-position: 40% 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px .625rem black;
    h1{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.sectionContacto{
    text-align: center;
    color: map-get($colores, rosa);
    height: 500px;
    width: 100%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    div{
        color: map-get($colores, oscuro);
        input, span{
            color:map-get($colores, oscuro);
        }
    }
    .formContacto {
        text-align: left;
        align-items: center;
        display: inline-block;
        height: 200px;
        padding-top: 30px;
        label{
            color: map-get($colores, oscuro);
        }
        input{
            color: map-get($colores, oscuro);
        }
        .emailInput{
            align-items: center;
            text-align: center;
            height: 20px;
            display: block;
        }
        .mensajeInput {
            align-items: center;
            text-align: center;
            display: block;
            height: 100px;
        }
        .btnSubmit{
            display: block;
            margin: 0 auto;
        }
    }
}