@media (max-width: 1388px) {
    .divProducto{
        .cardCompra{
            height: 650px;
            ul{
                .botonesProduct{
                    margin-top: 0px;
                }
            }
        }
    }
}
@media (max-width: 1089px){
    .divProducto{
        height: 2000px;
        .cardCompra{
            height: 1200px;
            ul{
                .cardLi{
                    justify-content: left;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .fondoProductos {
        height: 900px;
        .cardContainer {
            gap: .9375rem;
            height: 900px;
        }
    }
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
            height: 1350px;
            }
        }
    }
}
@media(max-width:836px){
    .sectionNosotros{
        .grid-container {
            width: 100%;
            .grid-header, .grid-item{
                font-size: 12px;
                padding: 5px;
            }
        }
    }
    .divFooter {
        .contactanos{
            font-size: 20px;
        }
    }
}

@media(max-width:768px){
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
                height: 1500px;
                .cardContainers{
                    display: flex;
                    gap: 15px;
                    height: 1500px;
                }
            }
        }
    }
    .mainTamaño{
        .grid-container {
            grid-template-columns: 1fr; 
            grid-template-areas:
            "image1"
            "image2"
            "image3"
            "image4";
            .image {
                .image1, .image2, .image3, .image4 {
                    margin-bottom: 20px; 
                }
            }
        }
    }
}

@media (max-width: 615px) {
    .fondoProductos{
        height: 1000px;
        .cardContainer{
            height: 1000px;
            .card {
                width: 250px;
                height: 300px;
            }
        }
    }
    .divProducto{
        height: 2000px;
        .cardCompra{
            height: 800px;
            ul{
                .tituloP{
                    margin-bottom: 100px;
                }
                .cardLi{
                    .cardProducto{
                        height: 300px;
                        div{
                            display: none;
                        }
                    }                    
                }
            }
        }
        .cardBasado{
        height: 800px;
            .cardRecomendado{
                flex-direction: column;
                height: 700px;
                .card{
                    width: 250px;
                    height: 300px;
                }
            }
        }
    }
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
                .cardContainers{
                    .card {
                        width: 250px;
                        height: 340px;
                    }
                }
            }
        }
    }
    .divError{
        height: 1000px;
        .cardsError{
            justify-content: center;
            align-items: center;
            height: auto;
        }
    }
    .divFooter{
        .contactanos{
            font-size: 13px
        }
    }
}

@media(max-width:520px) {
    .mainTamaño{
        .sectionPrincipal{
            height: auto;
            .fondoDeproductos{
                height: 2240px;
                .cardContainers{
                    height: 2240px;
                }
            }
        }
    }
    .divError{
        height: 1000px;
    }
    .sectionNosotros {
        .encontranos {
            iframe {
                height: 300px;
                }
        }
    }
    footer{
        .divFooter{
            .redes{
                font-size: 13px;
                a{
                    padding: 7px;
                    padding-bottom: 10px;
                    img {
                    width: 25px;
                    height: 20px;
                    }
                }
            }
            .copyRight{
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }
    .sectionNosotros{
        .grid-container {
            width: 100%;
            .grid-header, .grid-item{
                font-size: 8px;
                padding: 2px;
                border: 0.4px solid #191825;
            }
        }
    }
}
@media(max-width:390px){
    .espacioBlanco{
        .classOferta{
            font-size: 25px;
        }
    }
    .fondoProductos {
        height: 1000px;
        .cardContainer{
            height: 1000px;
        }
    }
    .headerPrincipal{
        .navbar{
            div{
                div{
                    .mainHuno{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .icono {
        align-items: center;
        justify-content: center;
    }
    iframe {
        height: 200px;
    }
    .divFooter{
        .contactanos{
            padding: 5px;
        }
        .redes{
            padding: 5px;
        }
    }
    .espacioBlanco{
        h1{
            font-size: 20px;
        }
    }
}