@media (max-width: 1000px) {
    .fondoProductos {
        height: 900px;
        .cardContainer {
            gap: .9375rem;
            height: 900px;
        }
    }
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
            height: 1350px;
            }
        }
    }
}
@media(max-width:836px){
    .sectionNosotros{
        .grid-container {
            width: 100%;
            .grid-header, .grid-item{
                font-size: 12px;
            }
        }
    }
}

@media(max-width:768px){
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
                height: 1500px;
                .cardContainers{
                    display: flex;
                    gap: 15px;
                    height: 1500px;
                }
            }
        }
    }
    .mainTamaño{
        .grid-container {
            grid-template-columns: 1fr; 
            grid-template-areas:
            "image1"
            "image2"
            "image3"
            "image4";
            .image {
                .image1, .image2, .image3, .image4 {
                    margin-bottom: 20px; 
                }
            }
        }
    }
}

@media (max-width: 615px) {
    .fondoProductos{
        height: 1000px;
        .cardContainer{
            height: 1000px;
            .card {
                width: 250px;
                height: 300px;
            }
        }
    }
    .mainTamaño{
        .sectionPrincipal{
            .fondoDeproductos{
                .cardContainers{
                    .card {
                        width: 250px;
                        height: 300px;
                    }
                }
            }
        }
    }
    .divError{
        height: 1000px;
        .cardsError{
            justify-content: center;
            align-items: center;
            height: auto;
        }
    }
}

@media(max-width:520px) {
    .mainTamaño{
        .sectionPrincipal{
            height: auto;
            .fondoDeproductos{
                height: 2100px;
                .cardContainers{
                    height: 2100px;
                }
            }
        }
    }
    .error{
        img{

        }
    }
    .divError{
        height: 1000px;
    }
    .sectionNosotros {
        .encontranos {
            iframe {
                height: 300px;
                }
        }
    }
}
@media(max-width:390px){
    .fondoProductos {
        height: 1000px;
        .cardContainer{
            height: 1000px;
        }
    }
    .headerPrincipal{
        .navbar{
            div{
                div{
                    .mainHuno{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .icono {
        align-items: center;
        justify-content: center;
    }
    iframe {
        height: 200px;
    }
}