.bodyClass {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E384FF;
    font-weight: bold;
}